.register-section{
    margin-top: 120px;
    height: 600px;
}
.form-container{
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 5%;
    height: 80%;
    width: 40%;
    margin: 20px auto;
    box-shadow: 11px 25px 24px 7px rgba(0,0,0,0.1);
}
b{
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
    text-align: center;
}